$text-font: 'Gotham Pro';
$serif-font: 'Playfair Display';
$logo-font: 'Pridi', serif;

$duration: 0.3s;

$body-bg: #EDF0F9;

$black: #1E1F21;
$orange: #F2994A;
$text-default: #242424;

$grey-bg: #E0E4EF;